body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("https://media.istockphoto.com/vectors/realistic-isolated-neon-sign-of-lightning-bolt-on-black-brick-wall-vector-id1205128259?k=6&m=1205128259&s=170667a&w=0&h=xKC_QYM5iPr0EFgGpBKPXdTCimolwNG1Y97LGFEaaRw=");
}

h1 {
  position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: calc(20px + 5vw);
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    /* text-shadow: 0 0 0.15em #1da9cc; */
    text-shadow: 0 0 5px #fff,
    /* 0 0 10px #fff, */
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;

}

h1 .main-title {
  text-shadow: 0 0 5px #fff,
  0 0 20px #fff,
  0 0 40px hotpink,
  0 0 80px hotpink,
  0 0 90px hotpink,
  0 0 100px hotpink,
  0 0 150px hotpink;
}

h2 {

  position: relative;
  font-family: 'Montserrat', Arial, sans-serif;
  /* font-size: calc(20px + 5vw); */
  font-weight: 700;
  color: white;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  /* text-shadow: 0 0 0.15em #1da9cc; */
  text-shadow: 0 0 5px #fff,
  /* 0 0 10px #fff, */
  0 0 20px #fff,
  0 0 40px hotpink,
  0 0 80px hotpink,
  0 0 90px hotpink,
  0 0 100px hotpink,
  0 0 150px hotpink;

}

.winners-list{
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    /* font-size: calc(20px + 5vw); */
    font-weight: 700;
    color: white;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    /* text-shadow: 0 0 0.15em #1da9cc; */
    text-shadow: 0 0 5px #fff,
    /* 0 0 10px #fff, */
    0 0 20px #fff,
    0 0 40px hotpink,
    0 0 80px hotpink,
    0 0 90px hotpink,
    0 0 100px hotpink,
    0 0 150px hotpink;
  
  }

.bracket-list {
  display: grid;
  grid-template-columns: repeat(8, 4fr);
  grid-column-gap: 30px;

  padding: 10px;  
  justify-content:center;
}
.bracket-list-item {
  color: hotpink;
  text-transform: uppercase;
}

.old-bracket-name {
  text-shadow: 0 0 5px #fff,
  /* 0 0 10px #fff, */
  0 0 20px #fff,
  0 0 40px #0ff,
  0 0 80px #0ff,
  0 0 90px #0ff,
  0 0 100px #0ff,
  0 0 150px #0ff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input {
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 0px 8px hotpink;
  -moz-box-shadow: 0px 0px 8px hotpink
  ;
  -webkit-box-shadow: 0px 0px 8px hotpink
; 
}

.input:focus { 
  outline: none;
  border: 1px solid #7bc1f7;
  box-shadow: 0px 0px 8px #7bc1f7;
  -moz-box-shadow: 0px 0px 8px #7bc1f7;
  -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}​

.artwork-image {
  width: 60px;
}

.round-img {
  width: 128px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.bracket-image {
  height: 40px;
  width: 35px;
}

.song-card {
  text-align: center;
  border: grey solid 1px;
  /* padding: 1rem; */
  width: 8rem;
  height: 20rem;
  /* height: auto; */
  /* max-height: 60%; */
  display: inline-grid;
  /* margin: 1rem 2rem; */
  box-shadow:

    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}

.song-card h3 {
  color: hotpink;

}

.empty-songcard {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 8rem;
  height: 24rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow:
    
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}

.empty-songcard-champion {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 8rem;
  height: 19rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow:
  
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}

.navbar {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  border-radius: 0 0 50px 50px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.4);
  overflow: hidden;
}
  .navbar:hover {
    border-bottom: 2px solid blue;
    box-shadow: 0 0 20px blue;
  }

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prepare-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  position: relative;
  display: block;
  color: cyan;
  font-size: 14px;
  font-family: 'Montserrat', Arial, sans-serif;
  text-decoration: none;
  text-shadow: 0 0 5px #fff,
  /* 0 0 10px #fff, */
  0 0 20px #fff,
  0 0 40px #0ff,
  0 0 80px #0ff,
  0 0 90px #0ff,
  0 0 100px #0ff,
  0 0 150px #0ff;
  margin: 10px 0;
  border: 2px solid #4296e6;
  padding: 4px 40px;
  text-transform: uppercase;
  overflow: hidden;
  width: 70%;
  height: 20px;
  background: rgba(27, 25, 25, 0.2);
}

.champion {
  text-shadow: 0 0 5px #fff,
  /* 0 0 10px #fff, */
  0 0 20px #fff,
  0 0 40px #0ff,
  0 0 80px #0ff,
  0 0 90px #0ff,
  0 0 100px #0ff,
  0 0 150px #0ff;
}

.form-submit {
  position: relative;
  display: block;
  text-decoration: none;
  position: relative;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 5px #fff,
  0 0 20px #fff,
  0 0 40px hotpink,
  0 0 80px hotpink,
  0 0 90px hotpink,
  0 0 100px hotpink,
  0 0 150px hotpink;
  margin: 10px 0;
  border: 2px solid #4296e6;
  padding: 4px 40px;
  text-transform: uppercase;
  overflow: hidden;
  /* transition: 1s all ease; */
  width: 70%;
  height: 30px;
  background: #1b1919;
  cursor: pointer;
}

textarea {
  outline: none;
}

.start-bracket-link {
  position: relative;
  display: block;
  text-decoration: none;
  position: relative;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 5px #fff,
  0 0 20px #fff,
  0 0 40px hotpink,
  0 0 80px hotpink,
  0 0 90px hotpink,
  0 0 100px hotpink,
  0 0 150px hotpink;
  margin: 10px 0;
  border: 2px solid #4296e6;
  padding: 4px 40px;
  overflow: hidden;
  width: 70%;
  height: 20px;
  background: #1b1919;
}

.delete-button {
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  border: 2px solid #4296e6;
  text-transform: uppercase;
  overflow: hidden;
  width: 25px;
  height: 20px;
  background: #1b1919;
}

.replay-link {
  position: relative;
  display: block;
  text-decoration: none;
  position: relative;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 5px #fff,
  0 0 20px #fff,
  0 0 40px hotpink,
  0 0 80px hotpink,
  0 0 90px hotpink,
  0 0 100px hotpink,
  0 0 150px hotpink;
  margin: 10px 0;
  border: 2px solid #4296e6;
  padding: 4px 40px;
  overflow: hidden;
  width: 70%;
  height: 20px;
  background: #1b1919;
}

.prepare-button{
  position: relative;
  display: block;
  text-decoration: none;
  position: relative;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 5px #fff,
  0 0 20px #fff,
  0 0 40px hotpink,
  0 0 80px hotpink,
  0 0 90px hotpink,
  0 0 100px hotpink,
  0 0 150px hotpink;
  margin: 10px 0;
  border: 2px solid #4296e6;
  /* padding: 4px 40px; */
  overflow: hidden;
  width: 70%;
  height: 20px;
  background: #1b1919;
}

